.home .title  {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}
.home .subtitle {
    font-size: 1.1rem;
    color: #fff;
    

}

.mat-card{
    background: rgba(#255, #255, #255, 0.1);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );

}

button{
    margin-top: 20px;
    margin-right: 15px;
    background-color:#B1D0E0;
    color:#fff;
}

.cliente{
    background-color: #B1D0E0;
    color: #fff;
}
.estiloCardAll{
    background-color: #6998AB;
    color: #fff;
}
.wellcome{
    background-color: #1A374D;
    color: #fff;
}

.home{ 
    background-color: #6998AB;
}



