<mat-card class="home wellcome mat-elevation-z4">
    <!--titulo-->
    <mat-card-title class="title">
        Bem vindo
    </mat-card-title>
    <!--subtitulo-->
    <mat-card-subtitle class="subtitle">
        Sistema que controle cadastro de vendedores , produtos e clientes
    </mat-card-subtitle>

    <button routerLink="/produto" mat-raised-button (click) ="navigateToProdutoCreate()" color= "primary"></button>
</mat-card>

<br>

<mat-card class= " home estiloCardAll mat-elevation-z3"> 
    <!--titulo-->
    <mat-card-title class = "title">
        Produtos
    </mat-card-title>
    <!--subtitulo-->
    <mat-card-subtitle class = "subtitle">
        Cadastre ou visualize productos ja cadastrados
    </mat-card-subtitle>
    <button routerLink="/produto" mat-raised-button (click) ="navigateToProdutoCreate()" > <i class="material-icons">
        add_shopping_cart
    </i></button>
    <button mat-raised-button routerLink="/produto" ><i class="material-icons ">
        visibility
    </i></button>
    
</mat-card>

<br>
<mat-card class= " home estiloCardAll mat-elevation-z3"> 
    <!--titulo-->
    <mat-card-title class = "title">
        Vendedores
    </mat-card-title>
    <!--subtitulo-->
    <mat-card-subtitle class = "subtitle">
        Cadastre ou visualize vendedores ja cadastrados
    </mat-card-subtitle>
    <button routerLink="/vendedor" mat-raised-button (click) ="navigateToVendedorCreate()" > <i class="material-icons">
        add_shopping_cart
    </i></button>
    <button mat-raised-button routerLink="/vendedor" ><i class="material-icons ">
        visibility
    </i></button>
    </mat-card>
<br>
<mat-card class= " home estiloCardAll mat-elevation-z3"> 
    <!--titulo-->
    <mat-card-title class = "title">
        Clientes
    </mat-card-title>
    <!--subtitulo-->
    <mat-card-subtitle class = "subtitle">
        Cadastre ou visualize clientes ja cadastrados
    </mat-card-subtitle>
    <button routerLink="/cliente" mat-raised-button (click) ="navigateToClienteCreate()" > <i class="material-icons">
        add_shopping_cart
    </i></button>
    <button mat-raised-button routerLink="/clientes" ><i class="material-icons ">
        visibility
    </i></button>
    </mat-card>