<mat-card > 
    <mat-card-title >
        <i class="material-icons ">
            face
        </i>
        Alterar Cliente
    </mat-card-title>
    <br>
    <form>
        <mat-form-field appearance="outline">
            <mat-label>Escreva o nome do cliente </mat-label>
            <input matInput placeholder="Nome"[value]="cliente.nome" name = "nome" disabled>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Escreva a Escreva codigo do cliente</mat-label>
            <input matInput placeholder="Codigo" [value]="cliente.codigo" name="codigo" disabled>
        </mat-form-field>
        
        
        
    </form>
    <button mat-raised-button (click) ="updateCliente()" color= "warn">
        <i class="material-icons">
            save
        </i>
        <br>
        Atualizar
    </button>
    
    
    <button mat-raised-button  (click) ="cancel()">
        <i class="material-icons">
            cancel
        </i>
        <br>
        Cancelar
    </button>
</mat-card>